body {
  margin: 0;
  padding: 0;
  justify-content: center;
  background-color: black;
}
#back {
  position: fixed;
  float: right;
  top: 6px;
  margin-right: 20px;
  height: 20px;
  right: 0;
  color: black;
}
.info {
  width: 400px;
  height: 260px;
  margin-left: 10px;
  background-color: black;
  color: white;
  opacity: 0.7;
  padding: 10px;
}
h1 {
  font-family: century gothic;
  font-size: 35px;
  color: aliceblue;
  vertical-align: middle;
}
h3 {
  font-family: century gothic;
  color: aliceblue;
  font-size: 18px;
}
#box1 {
  height: 100vh;
  width: 100%;
  background-image: url(yogaim/1111.jpeg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background-position: bottom;
}
#box2 {
  height: 100vh;
  width: 100%;
  background-image: url(yogaim/22.jpeg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background-position: center;
}
#box3 {
  height: 100vh;
  width: 100%;
  background-image: url(yogaim/3333.jpeg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background-position: bottom;
}
#box4 {
  height: 100vh;
  width: 100%;
  background-image: url(yogaim/4444.jpeg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background-position: bottom;
}
#box5 {
  height: 100vh;
  width: 100%;
  background-image: url(yogaim/55.jpeg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background-position: bottom;
}
#box6 {
  height: 100vh;
  width: 100%;
  background-image: url(yogaim/66.jpeg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background-position: bottom;
}
#box7 {
  height: 100vh;
  width: 100%;
  background-image: url(yogaim/777.jpeg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background-position: bottom;
}
#box8 {
  height: 100vh;
  width: 100%;
  background-image: url(yogaim/888.jpeg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background-position: bottom;
}
#box9 {
  height: 100vh;
  width: 100%;
  background-image: url(yogaim/999.jpeg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background-position: top;
}
