* {
  margin: 0;
  padding: 0;
  font-family: century gothic;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(lg.jpg);
  height: 100vh;
  background-size: cover;
  background-position: centers;
}
#back {
  position: fixed;
  float: right;
  top: 6px;
  margin-right: 20px;
  height: 20px;
  right: 0;
  color: black;
}
.guide{
  margin-left: 10px;
  border-radius: 0 0 10px 10px ;
  background-color: rgb(64, 66, 60);
  padding: 10px;
  color: white;
  width:350px;
}

.form-group i {
  width: 250px;
  display: left;
}
.container {
  position: absolute;
  color: blanchedalmond;
  background-color: black;
  top: 30%;
  left: 30%;
  border: 1px solid black;
  padding: 30px;
  opacity: 0.8;
}

.container .row h2 {
  font-size: 40px;
  color: greenyellow;
  letter-spacing: 2px;

  text-transform: capitalize;
}

label {
  font-size: 20px;
  padding-bottom: 5px;
}
input {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  background-color: black;
  border: transparent;
  padding: 8px 0;
  margin: 8px 0;
  color: honeydew;
  border-bottom: 2px solid greenyellow;
}
.btn {
  font-size: 27px;
  padding: 5px;
  border-radius: 10px;
  background-color: greenyellow;
  color: black;
  border: transparent;
  justify-content: center;
}
a {
  text-decoration: none;
  size: 20px;
  color: greenyellow;
  text-align: center;
}
