body {
  margin: 0;
  padding: 0;
  justify-content: center;
  background-color: black;
}
.info {
  width: 400px;
  height: 260px;
  margin-left: 10px;
  background-color: black;
  color: white;
  opacity: 0.7;
  padding: 10px;
}
.infolf {
  width: 400px;
  height: 260px;
  margin-left: 750px;
  background-color: black;
  color: white;
  opacity: 0.7;
  padding: 10px;
}
#back {
  position: fixed;
  float: right;
  top: 6px;
  margin-right: 20px;
  height: 20px;
  right: 0;
  color: black;
}
h1 {
  font-family: century gothic;
  font-size: 35px;
  color: aliceblue;
  vertical-align: middle;
}
h3 {
  font-family: century gothic;
  color: aliceblue;
  font-size: 18px;
}
#box1 {
  height: 100vh;
  width: 100%;
  background-image: url(exerciseim/running.jpeg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background-position: center;
}
#boxbyc {
  height: 100vh;
  width: 100%;
  background-image: url(exerciseim/cyc.jpeg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background-position: center;
}
#box2 {
  height: 100vh;
  width: 100%;
  background-image: url(exerciseim/22.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background-position: bottom;
}
#box3 {
  height: 100vh;
  width: 100%;
  background-image: url(exerciseim/1212.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background-position: bottom;
}
#box4 {
  height: 100vh;
  width: 100%;
  background-image: url(exerciseim/44.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background-position: bottom;
}
#box5 {
  height: 100vh;
  width: 100%;
  background-image: url(exerciseim/55.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background-position: center;
}
#box6 {
  height: 100vh;
  width: 100%;
  background-image: url(exerciseim/66.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background-position: bottom;
}
#box7 {
  height: 100vh;
  width: 100%;
  background-image: url(exerciseim/77.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background-position: center;
}
#box8 {
  height: 100vh;
  width: 100%;
  background-image: url(exerciseim/88.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background-position: right;
}
#box9 {
  height: 100vh;
  width: 100%;
  background-image: url(exerciseim/99.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background-position: bottom;
}
#box10 {
  height: 100vh;
  width: 100%;
  background-image: url(exerciseim/1010.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background-position: bottom;
}
#box11 {
  height: 100vh;
  width: 100%;
  background-image: url(exerciseim/1111.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background-position: bottom;
}
